/**
 * Created by huyunting on 2018/5/3.
 */

.headerList {
  margin-bottom: 4px;
}

.listContent {
  margin-left: 24px;
  width: 100%;
  color: gray;
}

.listContent div {
  margin-right: 24px;
  width: 25%;
  float: left;
}

.textOverFlower {
  display: block;
  width: 70px;
  height: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stepForm {
  margin: 40px auto 0;
  max-width: 600px;
}

